
@highlight-col : #C23573;


:root {
    --main-highlight-color: #C23573; 
    --main-highlight-color2: #35B7C2; 
}
/*for table styling*/




/*
.trTable td {
    position: relative;
    overflow: hidden;
    height: 3em;
}

.trTable div {
    position: absolute;
    margin: .1em;
    left: 0;
    top: 0;
}*/

tr{
  max-height: 50px;
  height: 5px;
}

tr:nth-of-type(odd) {
  /* background: #eee; */
    background: white;
}

tr:nth-of-type(even) {
    background: white;
}

th {
    background: #333;
    color: white;
    /* color: black; */
    font-weight: bold;
    /* cursor: s-resize; */
    cursor: grab;
    background-repeat: no-repeat;
    background-position: 3% center;
}

td,
th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 1.4em;
}

th.des:after {
    content: "\21E9";
}

th.aes:after {
    content: "\21E7";
}

tr:hover{
    /* background: #00BCD4; */
    /* background: white; */
    /* color: blue; */
}

.labelCard tr{
  /* display: flex;
  flex-direction: column; */
  font-size: 0.75em;

}


/*following for scatterplot matrix*/

svg {
  font: 10px sans-serif;
  padding: 10px;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: block;
}
.x.axis path{
  display: block;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}



/*from getmdl.io table design ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

table {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 10px;
  background-color: rgb(255, 255, 255);
}

table thead {
  padding-bottom: 3px;
}

table thead table__select {
  margin-top: 0;
}

table tbody tr {
  position: relative;
  height: 48px;
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

table tbody tr.is-selected {
  background-color: #e0e0e0;
}

table tbody tr:hover {
  background-color: #eeeeee;
}

table td,
table th {
  padding: 0 18px 12px 18px;
  text-align: left;
}

table td:first-of-type,
table th:first-of-type {
  padding-left: 24px;
}

table td:last-of-type,
table th:last-of-type {
  padding-right: 24px;
}

table td {
  position: relative;
  vertical-align: middle;
  height: 48px;
  wudth:auto;
  /* border-top: 1px solid rgba(0, 0, 0, 0.12); */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.12); */
  padding-top: 12px;
  box-sizing: border-box;
}

table td table__select {
  vertical-align: middle;
}

table th {
  position: relative;
  vertical-align: bottom;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0;
  height: 48px;
  font-size: 12px;
  color: white;
  padding-bottom: 8px;
  box-sizing: border-box;
}


