
@highlight-col : #C23573;


:root {
    --main-highlight-color: #C23573; 
    --main-highlight-color2: #35B7C2; 
}
/*for table styling*/

tr{
  max-height: 50px;
  height: 5px;
}

tr:nth-of-type(odd) {
  /* background: #eee; */
    background: white;
}

tr:nth-of-type(even) {
    background: white;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
}

td,
th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 1.4em;
}

th.des:after {
    content: "\21E9";
}

th.aes:after {
    content: "\21E7";
}

tr:hover{
    /* background: #00BCD4; */
    /* background: white; */
    color: blue;
}

.labelCard tr{
  /* display: flex;
  flex-direction: column; */
  font-size: 0.75em;

}


/*following for scatterplot matrix*/

svg {
  font: 10px sans-serif;
  padding: 10px;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: block;
}
.x.axis path{
  display: block;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

