
/* following for label dropped item and slider custom handle*/

.labelitemHover
 {
     background-color: #CACACA;
     border: 1px dashed #bbb;
 }

 .custom-handle {
   width: 3em;
   height: 1.6em;
   top: 50%;
   margin-top: -.8em;
   text-align: center;
   line-height: 1.6em;
   /* font-size: 3em; */
 }

/* #tooltip {
    display: flex;
    position: absolute;
    text-align: center;
    width: 40px;
    height: auto;
    padding: 10px;
    background-color: white;
    pointer-events: none;
}


#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
} */


.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


  .tooltip_verBarFeat,
  .tooltip_par_correl {
      display: flex;
      position      : absolute;
      text-align    : center;
      /*max-width     : 70px;*/
      /*max-height    : 30px;*/
      padding       : 10px;
      border        : none;
      border-radius : 8px;
      margin-top    : -30px;
      font          : 10px sans-serif;
      background    : black;
      color         : white;
      pointer-events: none;
      font-size: 1.1em;
  }


  #tiptable tr{
    background: transparent;
    color:white;
    font-size: 0.85em;
    height : 20px;
    display: flex;
  }


.ui-resizable-helper { 
  border: 1.5px dotted black; 
  background : var(--main-highlight-color2);}


/*table thead tr{
    display:block;
}

table th,table td{
    width:100%;//fixed width
}


table  tbody{
  display:block;
  height:1000px;
  overflow:auto;//set tbody to auto
}*/

/*tbody{
  display: block;
  overflow-y:scroll;//set tbody to auto
  height:1000px;

}*/

/*-------------------------------------------------------------------*/

/*only for parallel coord*/
svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #b2b2b2;
  /* shape-rendering: crispEdges; */
}

.foreground path {
  fill: none;
  /* stroke: steelblue; */
  stroke: #C23573; /*35B7C2*/
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  /* stroke: #000; */
  /* shape-rendering: crispEdges; */
}

.axis text {
  /* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff; */
  cursor: move;
}
/* 
.hiddenParFilter {
  opacity : 0.1;
  stroke-width: 1;
}

.strongParFilter {
  opacity: 1;
  stroke-width: 2;
} */


/*end of par coord */
/*style of buttons mdl*/
.mdl-button.mdl-button--colored{
  color : black;
}


.filterPanelBtns{
  color : white;
}



/*changing default table behavior*/

table{
  display: block;
  height: 'auto';
}



#tiptable{
  /* color : black; */
  background: #000;
  overflow-y: auto;
}


/*following for radar chart lib */
.radar-chart .area {
  fill-opacity: 0.7;
}

.radar-chart.focus .area {
  fill-opacity: 0.3;
}

.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}
.area.model1,
.area.germany,
.model1 .circle,
.germany .circle{
  fill: #FFD700;
  stroke: none;
}

.area.model2,
.area.argentina,
.argentina .circle{
  fill: #ADD8E6;
  stroke: none;
}


/* following for sortable */
#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 60%; */
}





.ui-state-default {
  border: 1px solid lightgray;
  background-color: white;
  margin: 0 3px 3px 3px;
  padding-left: 15px;
  padding-right: 15px;
  /* padding: 0.4em; */
  /* font-size: 1.4em; */
  /* height: 38px; */
}


.highlight {
  background-color: #B24926;
} 

 .ui-state-highlight {
   height: 40px;
   line-height: 4em;
   background:#C23573;

 }

/* conflict res styling */
.confResDiv{
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

#cfrBtn{
  font-size: 0.75em;
  width: 80px;
  /* background: red; */
  color: gray;
  display: flex;
  justify-content: center;
}

.conflictresPanel{
  display: flex;
  position: absolute;
  top: 10px;
  left:100px;
  width: 30%;
  height: 100%;
  padding: 10px;
  background: white;
}

.rowconfview{
  display: flex;
  padding: 20px;
  margin: 10px;
  border-bottom: 1px solid lightgray;
  align-items: center;
  font-size: 1.2em;
}

.confViewClass{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  margin: 5px;
  width: 100%;
  height: auto;
}

.itemconfview{
  width: 100px;
}

.itemconfviewsec{
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

.btnencdiv{
  width: 100px;
  display: flex;
  justify-content: center;
}

.confsep{
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}