<!DOCTYPE html>
<html>

<head>
  <title>Objective Function Builder by Interaction</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- stylesheets -->
  <link rel="stylesheet" href="static/css/jquery.contextMenu.min.css">
  <!-- <link rel="stylesheet" href="static/lib/jqueryUI/jquery-ui.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="static/lib/jqueryUI/blitzer_jquery-ui.min.css" type="text/css" /> -->
  <link rel="stylesheet" href="static/lib/jqueryUI/blitzer_jquery.css" type="text/css" />
  <!-- <link rel="stylesheet" href="static/lib/jqueryUI/jquery-ui-blitz.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="static/css/nouislider.min.css" type="text/css" /> -->

  <link rel="stylesheet" href="static/css/style.css" type="text/css" />
  <link rel="stylesheet" href="static/css/style_menu.css" type="text/css" />
  <link rel="stylesheet" href="static/css/style_visual.css" type="text/css" />
  <link rel="stylesheet" href="static/css/material.min.css" type="text/css" />
  <link rel="stylesheet" href="static/css/materialize.min.css" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="static/css/style_lib_edit.css" type="text/css" />

  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->

  <!-- <link rel="stylesheet" href="static/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="static/css/darkly_bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="static/css/bootstrap2-toggle.min.css"> -->
  <!-- <link rel="stylesheet" href="static/css/bootstrap-select.min.css"> -->

  <!-- libraries -->
  <script type="text/javascript" src="static/lib/d3/d3.v3.min.js"></script>
  <!-- <script type="text/javascript" src="static/lib/d3-tip.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
  <!-- <script type="text/javascript" src="static/lib/jquery-1.11.3.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="static/lib/lasso.js"></script>
  <script type="text/javascript" src="static/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/lib/bootstrap2-toggle.min.js"></script>
  <!-- <script type="text/javascript" src="static/lib/jqueryUI/jquery-ui.min.js"></script> -->
  <script type="text/javascript" src="static/lib/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="static/lib/socket.io.min.js"></script>
  <script type="text/javascript" src="static/lib/jquery.contextMenu.min.js"></script>
  <script type="text/javascript" src="static/lib/jquery.csv.min.js"></script>
  <script type="text/javascript" src="static/lib/material.min.js"></script>
  <script type="text/javascript" src="static/lib/materialize.min.js"></script>
  <script type="text/javascript" src="static/lib/nouislider.min.js"></script>


</head>

<body class="body">

  <!-- <div id="headBar"> -->

  <!-- <div id = "btnTopPanel">
        <button id='bakeModels' class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored bakeModelsCl'>
          <i class='material-icons'>play_circle_filled</i></button>
    </div> -->
  <!-- <div id="titlePanel">
      <h1 class="titleText" id="titleContent">QUESTO : AbstractING USER Intents </h1>
    </div>
    <div id="iconPanel"> -->
  <!-- <div class="iconHolder" id="addTestButton" onclick="main.loadTestData()" title="Load Test Data">
                <img class="imgIcon" src="static/img/icons/loadData.png"> </div>
            <div class="iconHolder" id="barShowButton" onclick="appModel.loadAppMode()" title="Show Bars">
                <img class="imgIcon" src="static/img/icons/application.png"> </div> -->
  <!-- <div class="iconHolder" id="printButton" onclick="Main.printLogs()" title="Show logs">
        <img class="imgIcon" src="static/img/icons/print.png"> </div> -->

  <!-- </div> -->
  <!-- </div> -->

  <div id="bottomBar">
    <div id="btnTopPanel">
      <button id='' class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored'>
        <i class='material-icons'>drag_handle</i></button>
      <button id='bakeModels' class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored bakeModelsCl'>
        <i class='material-icons'>play_circle_filled</i></button>
      <!-- <h6>Trade-Offs</h6> -->

    </div>

    <div id="bottomContent">
      <div id="constrainPanel"></div>
      <div id="featureEnggPanel"></div>
      <div id="modelExplorePanel"></div>
    </div>
  </div>

  <div id="viewBar">
    <div id="bothTables">
      <div id="trainContent" class='wrapAllTables'>
        <div class='tableHeadDiv' id='tableHeadDivTrain'>
          <button id='tableTogglerId_0' class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored tableTogglerCl'>
            <i class='material-icons'>import_export</i></button>
          <h6 class=' headerTables'>Train-Data</h6>
        </div>
        <div id="allTables" class='allTableClass'>
          <div id="tablePanel" class="train_table tableGeneral">
            <div id="tableSelectors"></div>
            <div id="tableContent" class=".ui-droppable tableContent"></div>
            <div id="scatContent" class=".ui-droppable scatContent"></div>
          </div>
          <!-- <div id="confMatTrain" class='confMatPanel'> </div> -->
        </div> <!-- all table finishes here -->
      </div>

      <div id="testContent" class='wrapAllTables'>
        <div class='tableHeadDiv' id='tableHeadDivTest'>
          <button id='tableTogglerId_1' class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored tableTogglerCl'>
            <i class='material-icons'>import_export</i></button>
          <h6 class='headerTables'>Test-Data </h6>
        </div>
        </h6>
        <div id="allTablesTest" class='allTableClass'>
          <div id="tablePanelTest" class="test_table tableGeneral">
            <div id="tableSelectors"></div>
            <div id="tableContentTest" class=".ui-droppable tableContentTest"></div>
            <!-- <div id="scatContentTest" class=".ui-droppable scatContentTest"></div> -->
          </div>
          <!-- <div id="confMatTest" class='confMatPanel'></div> -->
        </div> <!-- all table finishes here -->
      </div>
    </div>

    <div id="rightPanel">
      <div id="confMatTrain" class='confMatPanel'> </div>
      <div id="confMatTest" class='confMatPanel'></div>

    </div>

  </div> <!-- viewBar finishes here-->

  <!--scripts-->
  <script src="static/js/Main.js"></script>
  <script src="static/js/Utilities.js"></script>
  <script src="static/js/RuleBox.js"></script>
  <script src="static/js/TabCons.js"></script>
  <script src="static/js/ConsInteraction.js"></script>
  <script src="static/js/Constraints.js"></script>
  <script src="static/js/ConPanel.js"></script>
  <script src="static/js/ParCoord.js"></script>
  <script src="static/js/BarModels.js"></script>
  <script src="static/js/ConfMatrix.js"></script>
  <script src="static/js/ScatterMatrix.js"></script>
  <script src="static/js/DataTable.js"></script>
  <script src="static/js/LabelCards.js"></script>
  <script src="static/js/RadarChartLib.js"></script>
  <script src="static/js/StarPlotModels.js"></script>
  <script src="static/js/Menu.js"></script>
  <script type="text/javascript">
    Main.init();
  </script>
</body>

</html>