<!DOCTYPE html>
<html>

<head>
  <title>Objective Function Builder by Interaction</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- stylesheets -->
  <link rel="stylesheet" href="static/css/style.css" type="text/css" />
  <link rel="stylesheet" href="static/css/style_menu.css" type="text/css" />
  <link rel="stylesheet" href="static/css/style_visual.css" type="text/css" />

  <link rel="stylesheet" href="static/lib/jqueryUI/jquery-ui.css" type="text/css" />
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="static/css/bootstrap2-toggle.min.css"> -->
  <link rel="stylesheet" href="static/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="static/css/jquery.contextMenu.min.css">

  <!-- libraries -->
  <script type="text/javascript" src="static/lib/d3/d3.v3.min.js"></script>
  <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
  <!-- <script type="text/javascript" src="static/lib/jquery-1.11.3.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="static/lib/lasso.js"></script>
  <script type="text/javascript" src="static/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/lib/bootstrap2-toggle.min.js"></script>
  <!-- <script type="text/javascript" src="static/lib/jqueryUI/jquery-ui.min.js"></script> -->
  <script type="text/javascript" src="static/lib/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="static/lib/socket.io.min.js"></script>
  <script type="text/javascript" src="static/lib/jquery.contextMenu.min.js"></script>
  <script type="text/javascript" src="static/lib/jquery.csv.min.js"></script>


</head>

<body class="body">

  <div id="headBar">
    <div id="titlePanel">
      <h1 class="titleText" id="titleContent">InteractOBJ : Abstract Intents </h1>
    </div>
    <div id="iconPanel">
      <!-- <div class="iconHolder" id="addTestButton" onclick="main.loadTestData()" title="Load Test Data">
                <img class="imgIcon" src="static/img/icons/loadData.png"> </div>
            <div class="iconHolder" id="barShowButton" onclick="appModel.loadAppMode()" title="Show Bars">
                <img class="imgIcon" src="static/img/icons/application.png"> </div> -->
      <div class="iconHolder" id="printButton" onclick="Main.printLogs()" title="Show logs">
        <img class="imgIcon" src="static/img/icons/print.png"> </div>

    </div>
  </div>

  <div id="bottomBar">
    <div id="viewPanel">
      <div id="tablePanel">
        <div id="tableSelectors"></div>
        <div id="tableContent" class=".ui-droppable tableConten"></div>
      </div>
      <div id="modelPanel">
        <div id="anony"></div>
      </div>

    </div>
    <div id="sideRightPanel">
      <div id="sideRightIconPanel"></div>
      <div id="sideRightContentPanel">
        <div id="labelCardPanel">
          <div id="labelCard"></div>

        </div>
      </div>
    </div>
  </div>
  <!--scripts-->
  <script src="static/js/Main.js"></script>
  <script src="static/js/Utilities.js"></script>
  <script src="static/js/DataTable.js"></script>
  <script src="static/js/LabelCards.js"></script>
  <script src="static/js/Menu.js"></script>
  <script type="text/javascript">
    Main.init();
  </script>
</body>

</html>
